---
http_interactions:
- request:
    method: post
    uri: https://asendia.sandbox.mpm.metapack.net/Blackbox/BlackBox.svc
    body:
      encoding: UTF-8
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        <s:Header>\n\t<wsse:Security xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\">\n\t\t<wsse:UsernameToken>\n\t\t\t<wsse:Username>HACKER-N00bie</wsse:Username>\n\t\t\t<wsse:Password
        Type=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText\">GET-REKT</wsse:Password>\n\t\t</wsse:UsernameToken>\n\t</wsse:Security>\n\t<h:Authentication
        xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:h=\"http://xlogics.eu/blackbox\">\n\t\t<h:Culture>EN</h:Culture>\n\t\t<h:UnitName>H4CK3r</h:UnitName>\n\t</h:Authentication>\n
        </s:Header>\n  <s:Body>\n    <PrintParcelRequest xmlns=\"http://xlogics.eu/blackbox\">\n
        \     <InputParameters xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \     \n       \t<ShippingParameter>\n          <Name>Shipment.RefNo</Name>\n
        \         <Value>DONT@ME</Value>\n        </ShippingParameter>\n      \n       \t<ShippingParameter>\n
        \         <Name>AA.Service</Name>\n          <Value>PTLP</Value>\n        </ShippingParameter>\n
        \     \n       \t<ShippingParameter>\n          <Name>Shipment.ReturnValue</Name>\n
        \         <Value>ShipmentIdentcode;AA.UniqueReference</Value>\n        </ShippingParameter>\n
        \     \n       \t<ShippingParameter>\n          <Name>AA.Reference2</Name>\n
        \         <Value>MEMEZ[...]
